<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{$site.name}</title>
    <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
    <!-- Bootstrap Core CSS -->
    <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__CDN__/assets/css/printer/index.css" rel="stylesheet">
    <link href="__CDN__/assets/css/printer/order.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #FFFFFF;height: 73px;">
        <div class="top-dh">
            <div class="logo"><img src="__CDN__/assets/img/printer/logo.jpg"></div>
            <div class="top-right-box">
                <div class="top-search-box"><img src="__CDN__/assets/img/printer/search.png">输入订单编号、客户名称或客户手机号</div>
                <div class="top-message-box"><img src="__CDN__/assets/img/printer/message.png"></div>
                <div class="top-message-box"><img src="__CDN__/assets/img/printer/message1.png"></div>
                <div class="top-head-box"><img src="__CDN__/assets/img/printer/demo.jpg"></div>
                <div class="top-username-box">
                    <div class="top-username">龙樱初雪</div>
                    <div class="top-userid">f12345678</div>
                </div>
            </div>
        </div>
    </nav>
    <main id="mainbody">
        <div class="main-box">
            <div class="menu-list">
                <div class="nav">
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/index/index')}"><img src="__CDN__/assets/img/printer/myindexm.png">我的主页</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link active" href="{:url('printer/order/index')}"><img src="__CDN__/assets/img/printer/order.png">任务管理</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/comment/index')}"><img src="__CDN__/assets/img/printer/commentm.png">评价管理</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/order/aftersales')}"><img src="__CDN__/assets/img/printer/shouhoum.png">售后投诉</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/transaction/index')}"><img src="__CDN__/assets/img/printer/shouyim.png">收益记录</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/info/index')}"><img src="__CDN__/assets/img/printer/infom.png">基本信息</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/index/service')}"><img src="__CDN__/assets/img/printer/kefum.png">客服反馈</a>
                    </div>
                </div>
            </div>
            <div class="main-box-right">
                <div class="money-box">
                    <div class="money-item">
                        <div class="number">¥300.00</div>
                        <div class="text">今日收益</div>
                        <img class="icon" src="__CDN__/assets/img/printer/money.png">
                    </div>
                    <div class="money-item">
                        <div class="number">¥700.00</div>
                        <div class="text">可提现金额</div>
                        <img class="icon" src="__CDN__/assets/img/printer/money.png">
                    </div>
                    <div class="money-item">
                        <div class="number">¥9900.00</div>
                        <div class="text">总收益</div>
                        <img class="icon" src="__CDN__/assets/img/printer/money.png">
                    </div>
                </div>
                <div class="tast-box">
                    <div class="star-box">
                        <div class="tast-box-title">星标任务</div>
                        <table class="star-table">
                            <tr>
                                <td class="type">界面设计</td>
                                <td class="no">s2104231952470</td>
                                <td class="money">¥500.00</td>
                                <td class="time">00:00:00</td>
                                <td class="status">即将超时</td>
                                <td><a href="javascript:;" class="table-btn">查看详情</a></td>
                            </tr>
                            <tr>
                                <td class="type">界面设计</td>
                                <td class="no">s2104231952470</td>
                                <td class="money">¥500.00</td>
                                <td class="time">00:00:00</td>
                                <td class="status">即将超时</td>
                                <td><a href="javascript:;" class="table-btn">查看详情</a></td>
                            </tr>
                            <tr>
                                <td class="type">界面设计</td>
                                <td class="no">s2104231952470</td>
                                <td class="money">¥500.00</td>
                                <td class="time">00:00:00</td>
                                <td class="status">即将超时</td>
                                <td><a href="javascript:;" class="table-btn">查看详情</a></td>
                            </tr>
                            <tr>
                                <td class="type">界面设计</td>
                                <td class="no">s2104231952470</td>
                                <td class="money">¥500.00</td>
                                <td class="time">00:00:00</td>
                                <td class="status">即将超时</td>
                                <td><a href="javascript:;" class="table-btn">查看详情</a></td>
                            </tr>
                            <tr>
                                <td class="type">界面设计</td>
                                <td class="no">s2104231952470</td>
                                <td class="money">¥500.00</td>
                                <td class="time">00:00:00</td>
                                <td class="status">即将超时</td>
                                <td><a href="javascript:;" class="table-btn">查看详情</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="data-box">
                        <div class="tast-box-title">任务数据</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="order-box">
                <div class="order-tabs">
                    <a class="order-tabs-item order-tabs-item-active">全部</a>
                    <a class="order-tabs-item">已发布</a>
                    <a class="order-tabs-item">设计中</a>
                    <a class="order-tabs-item">审核中</a>
                    <a class="order-tabs-item">已中标</a>
                    <a class="order-tabs-item">异常</a>
                </div>
                <div class="order-box-right">
                    <table class="order-list">
                        {for start="1" end="10"}
                        <tr class="order-item">
                            <td>
                                <div class="order-title">界面设计五六七八九十</div>
                                <div>21042319524701</div>
                            </td>
                            <td>
                                <div>项目类型</div>
                                <div>名片</div>
                            </td>
                            <td>
                                <div>金额</div>
                                <div style="color: #E62F2F;">￥100.00</div>
                            </td>
                            <td>
                                <div>发布时间</div>
                                <div>2021-05-03 15:08:35</div>
                            </td>
                            <td>
                                <div>服务方</div>
                                <div style="color: #5A71FB;">小明设计</div>
                            </td>
                            <td>
                                <div>状态</div>
                                <div style="color: #5A71FB;">待接单</div>
                            </td>
                            <td>
                                <div>联系方式</div>
                                <div>150987654321</div>
                            </td>
                            <td width="250" align="right">
                                {if condition = "$i == 1"}
                                <a class="order-btn order-btn-active">
                                    查看详情
                                </a>
                                {else/}
                                <a class="order-btn">
                                    查看详情
                                </a>
                                {/if}
                            </td>
                        </tr>
                        {/for}
                    </table>
                    <div style="display: flex; justify-content: center;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>