<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{$site.name}</title>
        <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" />
        <!-- Bootstrap Core CSS -->
        <link href="__CDN__/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CDN__/assets/css/printer/index.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="page-top">

        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #FFFFFF;height: 73px;">
            <div class="top-dh">
                
                <div class="logo"><img src="__CDN__/assets/img/printer/logo.jpg"></div>
                <div class="top-right-box">
                    <div class="top-search-box"><img src="__CDN__/assets/img/printer/search.png">输入订单编号、客户名称或客户手机号</div>
                    <div class="top-message-box"><img src="__CDN__/assets/img/printer/message.png"></div>
                    <div class="top-message-box"><img src="__CDN__/assets/img/printer/message1.png"></div>
                    <div class="top-head-box"><img src="__CDN__/assets/img/printer/demo.jpg"></div>
                    <div class="top-username-box">
                        <div class="top-username">龙樱初雪</div>
                        <div class="top-userid">f12345678</div>
                    </div>
                </div>
            </div>
        </nav>

        <main id="mainbody">
            <div class="main-box">
                <div class="menu-list">
                    <div class="nav">
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/index/index')}"><img src="__CDN__/assets/img/printer/myindexm.png">我的主页</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/order/index')}"><img src="__CDN__/assets/img/printer/orderm.png">任务管理</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/comment/index')}"><img src="__CDN__/assets/img/printer/commentm.png">评价管理</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/order/aftersales')}"><img src="__CDN__/assets/img/printer/shouhoum.png">售后投诉</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/transaction/index')}"><img src="__CDN__/assets/img/printer/shouyim.png">收益记录</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link active" href="{:url('printer/info/index')}"><img src="__CDN__/assets/img/printer/info.png">基本信息</a>
                      </div>
                      <div class="nav-item">
                        <a class="nav-link" href="{:url('printer/index/service')}"><img src="__CDN__/assets/img/printer/kefum.png">客服反馈</a>
                      </div>
                    </div>
                </div>
                <div class="infos-left-box">
                    <div class="infos-left-top-box">
                        <div class="info-title">
                            <div>帐号信息</div>
                            <div class="info-title-opear">编辑</div>
                        </div>
                        <div class="info-content">
                            <div class="info-item">
                                <div class="info-item-left">用户名称：</div>
                                <div class="info-item-right">龙樱初雪</div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">用户ID：</div>
                                <div class="info-item-right">f12345678<div class="info-lv-box">Lv.46</div></div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">个性签名：</div>
                                <div class="info-item-right">从前有个电话，走着走着，就挂了</div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">手机号：</div>
                                <div class="info-item-right">13963045215</div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">邮箱：</div>
                                <div class="info-item-right">feifanchen-ds@foxmail.com</div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">注册时间：</div>
                                <div class="info-item-right">2021-04-27 15:05:32</div>
                            </div>
                            <div class="info-item">
                                <div class="info-item-left">上次登录：</div>
                                <div class="info-item-right">2021-04-27 15:05:49</div>
                            </div>
                        </div>
                    </div>
                    <div class="infos-left-top-bottom">
                        <div class="info-title1">
                            <div>工作履历</div>
                            <div class="info-title-opear1">编辑</div>
                        </div>

                        <div class="info-content1">
                            <div class="info-content-left">
                                <div class="info-item">
                                    <div class="info-item-left">教育程度：</div>
                                    <div class="info-item-right">硕士</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">毕业院校：</div>
                                    <div class="info-item-right">天津科技大学</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">学习专业：</div>
                                    <div class="info-item-right">艺术设计</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">毕业日期：</div>
                                    <div class="info-item-right">2018-06-01</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">工作年限：</div>
                                    <div class="info-item-right">10年</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">就职公司：</div>
                                    <div class="info-item-right">山东某某某科技发展有限公司</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">公司职务：</div>
                                    <div class="info-item-right">产品经理</div>
                                </div> 
                            </div>
                            <div class="info-content-right">
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="infos-right-box">
                    <div class="infos-left-top-bottom">
                        <div class="info-title1">
                            <div>实名认证</div>
                            <div class="info-title-opear1">编辑</div>
                        </div>

                        <div class="info-content1">
                            <div class="info-content-left">
                                <div class="info-item">
                                    <div class="info-item-left">真实姓名：</div>
                                    <div class="info-item-right">龙樱</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">性别：</div>
                                    <div class="info-item-right">女</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">年龄：</div>
                                    <div class="info-item-right">25</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">身份证号：</div>
                                    <div class="info-item-right">211002199112041111</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">所在地：</div>
                                    <div class="info-item-right">山东省临沂市沂水县</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">实名认证：</div>
                                    <div class="info-item-right" style="color: #83CBC6;">已认证</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left">认证时间：</div>
                                    <div class="info-item-right">2020-09-01 16：33：00</div>
                                </div>
                                
                            </div>
                            <div class="info-content-right">
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="infos-left-top-bottom">
                        <div class="info-title1">
                            <div>企业认证</div>
                            <div class="info-title-opear1">编辑</div>
                        </div>

                        <div class="info-content1">
                            <div class="info-content-left">
                                <div class="info-item">
                                    <div class="info-item-left1">企业名称：</div>
                                    <div class="info-item-right">龙樱</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">企业证件号码：</div>
                                    <div class="info-item-right">91371323MA3P4UPM8Y</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">法人姓名：</div>
                                    <div class="info-item-right">琪亚娜</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">法人身份证号：</div>
                                    <div class="info-item-right">211002199112041111</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">企业所在地：</div>
                                    <div class="info-item-right">山东省临沂市沂水县</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">企业认证：</div>
                                    <div class="info-item-right" style="color: #FFA901;">未认证</div>
                                </div>
                                <div class="info-item">
                                    <div class="info-item-left1">认证时间：</div>
                                    <div class="info-item-right">2020-09-01 16：33：00</div>
                                </div> 
                            </div>
                            <div class="info-content-right">
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        

        <script src="__CDN__/assets/libs/jquery/dist/jquery.min.js"></script>

        <script src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
       
    </body>

</html>
