<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Contro-Allow-Origin" value="*" />
                <add name="Access-Contro-Allow-Headers" value="Content-Type,Accept" />
                <add name="Access-Contro-Allow-Methods" value="GET,POST" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="guizhe1" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

