<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User2_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user2_id" data-rule="required" data-source="user2/index" class="form-control selectpage" name="row[user2_id]" type="text" value="{$row.user2_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msg_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-msg_type" data-rule="required" class="form-control" name="row[msg_type]" type="text" value="{$row.msg_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Msg')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-msg" data-rule="required" class="form-control " rows="5" name="row[msg]" cols="50">{$row.msg|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
